body {
    font-family: Arial, sans-serif;
    background-color: #428bc4;
    color: #ffffff;
    margin: 0;
    padding: 0;

}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.logo {
    width: 400px;
    height: auto;
}

table {
    background-color: #005b9a;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    background-color: #0055a0;
    font-weight: bold;
    text-align: left;
    padding: 20px;
}

th {
    background-color: #00325e;

    font-size: 2em;

}
.upcoming-event td {
    background-color: #004380   ;
    color: white;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 1.5em;
}

.free-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.free-overlay img {
    width: 200px;
    height: auto;
    animation: bounce 4s infinite;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-200px); }
}
