@font-face {
  font-family: 'kth-font';
  src: url(Figtree-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'kth-font';
  color: #000061;
}

/* ---  Nav bar --- */

.nav-section {
  height: 20vh;
  padding: 8px 0px;
  background: #ebe5e0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 140px;
}

.kth-logo {
  width: 75px;
}

/* --- Main Section --- */

.hero-section {
  height: 80vh;
}

.element-section {
  display: flex;
  height: 100%;
}

tbody {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.current-meeting {
  background-color: white;
  width: 100vw;
  height: 230px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 70px;
}

.upcoming-meeting {
  background-color: #ebe5e0;
  height: 100%;
  width: 200px;
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  gap: 30px;
  border-right: solid white 1px;
  border-left: solid white 1px;
}

.summary {
  display: flex;
  justify-content: space-around;
  margin: 0 10px;
}

.meet {
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
}