<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Calendars</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/newStyle.css}">
</head>
<body>
<div th:each="calendar : ${calendars}" th:if="${not #lists.isEmpty(calendar.events)}" class="logo-container">
    <img th:src="@{/css/KTH_logo_RGB_vit.png}" class="logo" alt="Logo">
</div>
<div th:each="calendar : ${calendars}" class="calendar">
    <table>
        <tr>
            <th>Summary</th>
            <th>Time</th>
        </tr>
        <tr th:if="${calendar.events.isEmpty()}">
            <td colspan="2">
                <div class="free-overlay">
                    <img th:src="@{/css/KTH_logo_RGB_vit.png}" alt="KTH-logo">
                </div>
            </td>
        </tr>
        <tr th:each="event, status : ${calendar.events}" th:class="${status.index == 0} ? 'upcoming-event' : ''">
            <td th:text="${event.summary}" th:class="'summary'"></td>
            <td>
                <span th:text="${#dates.format(event.startDate, 'HH:mm')}"></span>
                <span> - </span>
                <span th:text="${#dates.format(event.endDate, 'HH:mm')}"></span>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
