<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}">
  <title>KTH Meeting</title>
</head>
<body>
  <!-- Nav bar -->
  <nav th:with="calendar=${calendars[0]}" class="nav-section">
    <div class="date-section">
      <span id="timeString"></span>
      <span id="dateString"></span>
    </div>
    <img th:src="@{/css/KTH_logo_RGB_bla.png}" class="kth-logo" alt="KTH-logo">
    <span style="font-size: 25px;">Room</span>
  </nav>
  <div th:each="calendar : ${calendars}" class="hero-section">
    <table class="element-section">
      <!-- When Calendar is empty -->
      <tr th:if="${calendar.events.isEmpty()}">
        <td>
          <div class="idle-section">
            <span>Vacant</span>
          </div>
        </td>
      </tr>
      <!-- Calendar Data -->
      <tr th:each="event, status : ${calendar.events}" 
          th:class="${status.index == 0} ? 'current-meeting' : 'upcoming-meeting'">
        <td>
          <div class="meet"> <!-- nav bar-->
            <span id="textMeet">Next Meeting</span>
            <div class="timeMeet">
              <span th:text="${#dates.format(event.startDate, 'HH:mm')}"></span>
              <span> - </span>
              <span th:text="${#dates.format(event.endDate, 'HH:mm')}"></span>
            </div>
          </div>
        </td>
        <td th:text="${event.summary}" th:class="'summary'"></td>
      </tr>
    </table>
  </div>
  <script>

    // When contnent is loaded certain things is being changed
    document.addEventListener("DOMContentLoaded", function() {
      // Select the first element with the class 'upcoming-event'
      const currentMeeting = document.querySelector('.current-meeting');

      // Check if the 'current-meeting' was found
      if (currentMeeting) {
        // Select the 'textMeet' element within the 'current-meeting' context
        const textMeet = currentMeeting.querySelector('#textMeet');
  
        // Check if the 'textMeet' element was found
        if (textMeet) {
          // You can now manipulate the 'textMeet' element, for example:
          textMeet.textContent = 'Current Meeting';
        }
      }
      
      // Select sections and change it styles
      const idleSections = document.querySelectorAll('.idle-section');
      const dateSections = document.querySelectorAll('.date-section');

      dateSections.forEach(function(section) {
        section.style.display = "flex";
        section.style.flexDirection = "column";
        section.style.alignItems = "center";
      })

      idleSections.forEach(function(section) {
        section.style.position = 'absolute';
        section.style.top = '48%';
        section.style.left = 'calc(100vw / 2 - 160px)';
        section.style.fontSize = "100px";
      });
    });

    function updateCurrentDateTime() {
        // Get the current date and time
        let currentDate = new Date();

        // Get local date and time in string
        let localDate = currentDate.toLocaleDateString(); // "5/3/2024"
        let localTime = currentDate.toLocaleTimeString().slice(0, 5); // "10:30"

        // Display it to the screen
        document.querySelector("#timeString").textContent = localTime;
        document.querySelector("#dateString").textContent = localDate;
    }

    setInterval(updateCurrentDateTime, 1000);

    setInterval(function() {
        location.reload();
    }, 5 * 60 * 1000); // 5 minutes in milliseconds

  </script>
</body>
</html>
