<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calendars</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/newStyle.css}">
</head>
<body>

<!-- Header with Logo and Title -->
<div class="header">
    <!-- Logo -->
    <div class="logo-link">
        <img src="https://upload.wikimedia.org/wikipedia/de/thumb/f/f3/KTH_Stockholm-Logo.svg/2048px-KTH_Stockholm-Logo.svg.png" alt="Logo">
    </div>
    <!-- Title -->
    <h1 class="title" th:text="'Room ' + ${#strings.arraySplit(calendars[0].location, '_')[2]} + ', Plan ' + ${#strings.arraySplit(calendars[0].location, '_')[1].substring(4)}"></h1>
    <div id="clock" class="clock"></div>
</div>
<script>
    function updateClock() {
        var now = new Date();
        var hours = now.getHours();
        var minutes = now.getMinutes();
        // Pad single digit minutes with a leading zero
        minutes = minutes < 10 ? '0' + minutes : minutes;
        document.getElementById('clock').innerText = hours + ':' + minutes;
    }

    // Update the clock every minute
    setInterval(updateClock, 60000);

    // Initial call to display the clock immediately
    updateClock();
</script>

<div class="container">
    <div class="calendars">
        <!-- Calendar contents -->
        <div th:each="calendar : ${calendars}">
            <div th:each="event : ${calendar.events}" class="meeting-details">
                <div class="meeting-info">
                    <p class="event-summary" th:text="${event.summary}"></p>
                    <div class="event-details">
                        <span th:text="${#dates.format(event.startDate, 'HH:mm')}"></span>
                        <span> - </span>
                        <span th:text="${#dates.format(event.endDate, 'HH:mm')}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
